NEXT_PUBLIC_SUPABASE_URL=https://yajsdhpaobqtduazpkkd.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=replace_me
NEXT_PUBLIC_SITE_URL=http://localhost:3000

SUPABASE_SECRET_KEY=replace_me
OPENAI_API_KEY=replace_me
OPENALEX_API_KEY=replace_me

NEUROFEED_SMTP_USERNAME=replace_me
NEUROFEED_SMTP_PASSWORD=replace_me
NEUROFEED_EMAIL_FROM=Neurofeed <replace_me@example.com>

CRON_SECRET=replace_with_random_secret
